@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AceLayout.cshtml";
}
@using Manage.Data;
<div class="page-content">
    <div class="page-header" id="searchDiv" style="padding-bottom: 0px;">
        <form id="searchForm" action="@Url.Action("Index", "Module")" method="post">
            <table width="100%">
                <tr>
                    <td align="center" width="5%">模块名称</td>
                    <td width="5%">
                        <input id="Name" name="Name" type="text" class="input-sm" placeholder="请输入模块名称" value="@ViewBag.form.Name" maxlength="10"/>
                    </td>
                    <td align="center" width="7%">是否激活</td>
                    <td width="6%">
                        <select style="padding: 0px 0px;height: 25px;" id="EnabledStr" name="EnabledStr">
                            <option value="">全部</option>
                            <option value="1" @if (@ViewBag.form.EnabledStr == "1") { WriteLiteral("selected"); }>是</option>
                            <option value="0" @if (@ViewBag.form.EnabledStr == "0") { WriteLiteral("selected"); }>否</option>
                        </select>
                    </td>
                    <td align="right">
                        <button class="btn btn-info btn-sm" type="button" onclick="doSearch()">
                            <i class="ace-icon fa fa-check"></i>搜索
                        </button>
                        <button class="btn btn-sm" type="button" onclick="clearForm('searchForm')">
                            <i class="ace-icon fa fa-undo"></i>重置
                        </button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="Id" value="" clear="false" id="Id" />
            @RenderPage("~/Views/Shared/_PageLayout.cshtml")
        </form>
    </div>
    <div class="page-header">
        <div class="hidden-sm hidden-xs action-buttons">
            <i class="ace-icon fa fa-plus-circle bigger-130 purple"></i>
            <a href="#" title="新增" onclick="bDialogOpen('新增模块', '@Url.Action("ModuleInsert", "Module")')">新增</a>
        </div>
    </div>

    <div class="row" style="margin-left: 2px;margin-right: -3px;">
        <div id="grid" class="grid_8 height250">
            <table class="table table-bordered table-hover" id="fixTable" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th class="center">序号</th>
                        <th class="center">模块名称</th>
                        <th class="center">上级模块</th>
                        <th class="center">编号</th>
                        <th class="center">链接地址</th>
                        <th class="center">是否菜单</th>
                        <th class="center">更新时间</th>
                        <th class="center">是否激活</th>
                        <th class="center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var item in (List<Sys_Module>)ViewBag.page.ResultList)
                    {
                        i += 1;
                        <tr class="">
                            <td class="center">@i</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.ParentName)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.Code)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.LinkUrl)</td>
                            <td class="center">
                                @if (item.IsMenu == true)
                                {
                                    <span class="label label-sm label-success" style="height: 15px;">是</span>
                                }
                                else
                                {
                                    <span class="label label-sm label-warning" style="height: 15px;">否</span>
                                }
                            </td>
                            <td class="center">@string.Format("{0:yyyy-MM-dd hh:mm:ss}", item.UpdateDate)</td>
                            <td class="center">
                                @if (item.Enabled == true)
                                {
                                    <span class="label label-sm label-success" style="height: 15px;">是</span>
                                }
                                else
                                {
                                    <span class="label label-sm label-warning" style="height: 15px;">否</span>
                                }
                            </td>
                            <td class="center" width="10%">
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="green" href="#" title="编辑" onclick="bDialogOpen('编辑模块','@Url.Action("ModuleEdit", "Module", new {Id=@item.Id })')">
                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                    </a>
                                    <a class="red" href="#" title="删除" onclick="doDel('@item.Id', event)">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @RenderPage("~/Views/Shared/_PagerLayout.cshtml")
    </div>
    <script src="~/Scripts/fixtable.js"></script>
</div>
<script type="text/javascript">
    var formId = "searchForm";
    function doSearch() {
        resetSearch();
        $("#" + formId).attr("action", "@Url.Action("Index", "Module")");
        $("#" + formId).submit();
    }

    function bDialogOpen(title, url) {
        bDialog.open({
            title: title,
            width: 800,
            height: 400,
            url: url,
            params: {},
            callback: function (data) {
                if (data && data.results && data.results.length > 0) {
                    doSearch();
                }
            }
        });
    }

    function doDel(id, event) {
        event.stopPropagation();
        bDialog.alert('您确定要删除吗？', function (data) {
            $("#Id").val(id);
            $("#" + formId).attr("action", "@Url.Action("ModuleDelete", "Module")");
            $("#" + formId).ajaxSubmit({
                success: function (responseText) {
                    var d = eval(JSON.parse(responseText));
                    if (d.state == 0) {
                        doSearch();
                    } else {
                        bDialog.alert(d.message, null, { messageType: 'error' });
                    }
                }
            });
        }, {
                messageType: 'confirm',
                cancel: function (dlg) { }
            });
    }
</script>